# Bank Churn Rate

Your exercise is to create a machine learning model to predict bank customer churn. We will build a logistic regression model for this task. (Callou)

> [Dataset from Kaggle](https://www.kaggle.com/datasets/saurabhbadole/bank-customer-churn-prediction-dataset). Import instructions below.

Import the dataset by running the code below. It'll be temporatry saved on your Colab files.

Download the dataset by running the code below. It will be temporarily saved as a zip file in your Colab environment's `/content/` directory.

In [76]:
!curl -L -o /content/bank-customer-churn-prediction-dataset.zip\
  https://www.kaggle.com/api/v1/datasets/download/saurabhbadole/bank-customer-churn-prediction-dataset

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  261k  100  261k    0     0   738k      0 --:--:-- --:--:-- --:--:--  738k

Extract the downloaded zip file to access the CSV data.

In [63]:
import pandas as pd

In [77]:
df = pd.read_csv("/content/bank-customer-churn-prediction-dataset.zip")

Show the first 5 rows of the dataset.

In [65]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

Check the type of the selected column:

In [67]:
type(df[['Surname']])

pandas.core.frame.DataFrame

What can be the features for training a ML model? How to define them?

In [68]:
X = df[['CreditScore','NumOfProducts','EstimatedSalary']]

Define the target variable for the model:

In [69]:
y = df['Exited']

Filter the DataFrame to show rows where the 'Age' is less than 20.

In [71]:
df[df['Age'] < 20]

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
57,58,15647091,Endrizzi,725,Germany,Male,19.0,0,75888.20,1,0.0,0.0,45613.75,0
746,747,15787619,Hsieh,844,France,Male,18.0,2,160980.03,1,0.0,0.0,145936.28,0
923,924,15601026,Gallagher,572,Germany,Female,19.0,1,138657.08,1,1.0,1.0,16161.82,0
1619,1620,15770309,McDonald,656,France,Male,18.0,10,151762.74,1,0.0,1.0,127014.32,0
1678,1679,15569178,Kharlamov,570,France,Female,18.0,4,82767.42,1,1.0,0.0,71811.90,0
2021,2022,15795519,Vasiliev,716,Germany,Female,18.0,3,128743.80,1,0.0,0.0,197322.13,0
2136,2137,15621893,Bellucci,727,France,Male,18.0,4,133550.67,1,1.0,1.0,46941.41,0
2141,2142,15758372,Wallace,674,France,Male,18.0,7,0.00,2,1.0,1.0,55753.12,1
2311,2312,15664639,McGregor,645,France,Male,19.0,9,128514.84,1,0.0,0.0,175969.19,0
2669,2670,15693947,Tokareva,614,France,Female,19.0,5,97445.49,2,1.0,0.0,122823.34,0
2990,2991,15809823,Thurgood,491,Germany,Male,19.0,2,125860.20,1,0.0,0.0,129690.50,0
3095,3096,15680243,Brown,792,France,Male,19.0,7,143390.51,1,1.0,0.0,33282.84,0
3239,3240,15776844,Hao,762,Spain,Female,19.0,6,0.00,2,1.0,0.0,55500.17,0
3295,3296,15654296,Estrada,754,Spain,Female,19.0,9,0.00,1,1.0,0.0,189641.11,0
3330,3331,15657439,Chao,738,France,Male,18.0,4,0.00,2,1.0,1.0,47799.15,0
3512,3513,15657779,Boylan,806,Spain,Male,18.0,3,0.00,2,1.0,1.0,86994.54,0
3517,3518,15757821,Burgess,771,Spain,Male,18.0,1,0.00,2,0.0,0.0,41542.95,0
3631,3632,15794841,Kung,739,Spain,Male,19.0,5,89750.21,1,1.0,0.0,193008.52,0
3686,3687,15665327,Cattaneo,706,France,Male,18.0,2,176139.50,2,1.0,0.0,129654.22,0
3999,4000,15665062,Lucchese,696,France,Male,19.0,1,110928.51,1,1.0,1.0,2766.63,0
4218,4219,15782418,Ku,589,Germany,Female,19.0,9,83495.11,1,1.0,1.0,143022.31,1
4330,4331,15666652,Anayolisa,781,France,Female,19.0,3,0.00,2,1.0,1.0,124297.32,0
4556,4557,15796231,Nwankwo,681,France,Female,18.0,1,98894.39,1,1.0,1.0,9596.40,0
4716,4717,15805764,Hallahan,646,France,Male,18.0,10,0.00,2,0.0,1.0,52795.15,0
4727,4728,15641822,Barese,648,France,Female,19.0,1,0.00,2,0.0,1.0,22101.86,0
4770,4771,15761506,Russell,615,Spain,Male,19.0,5,0.00,2,1.0,0.0,159920.92,0
4792,4793,15809991,Ferrari,756,Spain,Male,19.0,4,130274.22,1,1.0,1.0,133535.29,0
5289,5290,15741195,Okechukwu,613,Spain,Male,19.0,5,0.00,1,1.0,1.0,176903.35,0
5592,5593,15670343,Li,576,Spain,Male,19.0,6,0.00,2,0.0,0.0,72306.07,0
5647,5648,15615245,Shao,660,France,Male,19.0,5,127649.64,1,1.0,1.0,40368.65,0
5874,5875,15693902,Hunt,597,France,Male,19.0,2,0.00,2,1.0,1.0,91036.74,0
6003,6004,15579892,Doyle,708,Spain,Male,19.0,7,112615.86,1,1.0,1.0,4491.77,0
6319,6320,15768340,Beavers,642,Germany,Female,19.0,3,113905.48,1,1.0,1.0,176137.20,0
6887,6888,15662641,Amadi,850,France,Male,19.0,8,0.00,1,1.0,1.0,68569.89,0
7334,7335,15759133,Vaguine,616,France,Male,18.0,6,0.00,2,1.0,1.0,27308.58,0
7625,7626,15689692,Walker,598,Germany,Male,19.0,3,150348.37,1,1.0,1.0,173784.04,0
7722,7723,15570086,Lynch,684,Germany,Male,18.0,9,90544.00,1,0.0,1.0,4777.23,0
8522,8523,15619892,Page,644,Spain,Male,18.0,8,0.00,2,1.0,0.0,59172.42,0
8584,8585,15732967,Cremonesi,731,France,Male,19.0,6,0.00,2,1.0,1.0,151581.79,0
8786,8787,15770968,Leason,741,Germany,Female,19.0,8,108711.57,2,1.0,0.0,24857.25,0
9029,9030,15722701,Bruno,594,Germany,Male,18.0,1,132694.73,1,1.0,0.0,167689.56,0
9331,9332,15659305,Webster,605,Germany,Male,19.0,8,166133.28,1,1.0,1.0,107994.99,0
9501,9502,15634146,Hou,835,Germany,Male,18.0,2,142872.36,1,1.0,1.0,117632.63,0
9520,9521,15673180,Onyekaozulu,727,Germany,Female,18.0,2,93816.70,2,1.0,0.0,126172.11,0
9526,9527,15665521,Chiazagomekpele,642,Germany,Male,18.0,5,111183.53,2,0.0,1.0,10063.75,0
9572,9573,15641688,Collier,644,Spain,Male,18.0,7,0.00,1,0.0,1.0,59645.24,1
9679,9680,15605067,Nwachinemelu,472,France,Male,19.0,9,0.00,2,1.0,0.0,3453.40,0
9782,9783,15728829,Weigel,509,France,Male,18.0,7,102983.91,1,1.0,0.0,171770.58,0
9932,9933,15813451,Fleetwood-Smith,677,Spain,Male,18.0,8,134796.87,2,1.0,1.0,114858.90,0

Check the type of the dataset:

In [23]:
type(df)

pandas.core.frame.DataFrame

How many columns there are?

In [40]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

What are the data types of each column?

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10002 entries, 0 to 10001
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10002 non-null  int64
 1   CustomerId       10002 non-null  int64
 2   Surname          10002 non-null  object
 3   CreditScore      10002 non-null  int64
 4   Geography        10001 non-null  object
 5   Gender           10002 non-null  object
 6   Age              10001 non-null  float64
 7   Tenure           10002 non-null  int64
 8   Balance          10002 non-null  float64
 9   NumOfProducts    10002 non-null  int64
 10  HasCrCard        10001 non-null  float64
 11  IsActiveMember   10001 non-null  float64
 12  EstimatedSalary  10002 non-null  float64
 13  Exited           10002 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 1.1+ MB