##Demo

### 1. Elif Chains vs Nesting

In [2]:
# Elif chain (mutually exclusive)
grade = 85
if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
else:
    print("F")

# Nesting (when hierarchy matters)
user_logged_in = True
user_is_admin = False

if user_logged_in:
    if user_is_admin:
        print("Welcome, Admin")
    else:
        print("Welcome, Guest User")
else:
    print("Please log in first")

B
Welcome, Guest User

### 2. Guard Clauses

In [6]:
# guard clause: handle edge case early
def divide(a, b):
    if b == 0:
        return "Error: division by zero"
    return a / b

print(divide(10, 2))   # 5.0
print(divide(10, 0))   # Error

5.0
Error: division by zero

### 3. Truthiness in Python

In [4]:
items = []
if items:   # Better
    print("We have items")
else:
    print("Empty list")

items = [1, 2, 3]
if len(items) > 0:  # Explicit, but verbose
    print("We have items")

Empty list
We have items

### 4. Logical Operators

In [25]:
user_name = "Anna"
professor = True
if user_name == "Anna" and professor:
  print(f"Welcome, {user_name}.")

Welcome, Anna

### 5. Value Comparisons

In [28]:
a = [1, 2, 3]
b = [1, 2, 3]

print(a == b)   # True (value equality)
print(a is b)   # False (different objects)

# case-insensitive match
command = "Exit"
if command.lower() == "exit":
    print("Goodbye")

True
False
Goodbye

### 6. For Loop

In [29]:
names = ["Alice", "Bob", "Charlie"]
for name in names:
    print(f"Hello, {name}!")

Hello, Alice!
Hello, Bob!
Hello, Charlie!

### 7. Iterating with range

In [30]:
n = 5
total = 0
for i in range(n + 1):
    total += i
print("Sum of first", n, "numbers:", total)

Sum of first 5 numbers: 15

### 8. Iterating over Sequences

In [31]:
person = {"name": "Alice", "age": 25}
for key, value in person.items():
    print(f"{key}: {value}")

name: Alice
age: 25

### 9. Enumerate

In [32]:
lines = ["first", "second", "third"]
for index, text in enumerate(lines, start=1):
    print(f"{index}: {text}")

1: first
2: second
3: third

### 10. Comprehensions

In [33]:
squares = [x*x for x in range(10) if x % 2 == 0]
print(squares)

[0, 4, 16, 36, 64]

### 11. Break & Continue

In [34]:
numbers = [1, 3, 5, 8, 9]
for n in numbers:
    if n % 2 == 0:
        print("First even:", n)
        break

First even: 8

### 12. Else on Loops

In [35]:
numbers = [1, 3, 5, 7]
for n in numbers:
    if n % 2 == 0:
        print("Even found:", n)
        break
else:
    print("No even numbers found")

No even numbers found

### 13. While Loop Essentials

In [36]:
n = 5
while n >= 0:
    print(n)
    n -= 1
print("Liftoff!")

5
4
3
2
1
0
Liftoff!

### 14. Infinite Loop Pitfall

In [37]:
# Bug: missing increment causes infinite loop
x = 0
while x < 3:
    print("x is", x)
    # FIX: uncomment next line
    # x += 1
    break   # Added break for safety in demo

x is 0

## Practice

*for* loops

1.   Iterate a list of prices, apply tax, round results and save into a new list.

In [42]:
prices = [10.50, 25.99, 5.00, 100.00]
tax_rate = 0.10

# CALL YOUR CODE HERE

2.   Print index and item for a list using enumerate().

In [43]:
items_list = ["apple", "banana", "cherry", "date"]

# CALL YOUR CODE HERE

3.   Pair two lists of names and scores with zip() and print them.

In [44]:
names = ["Alice", "Bob", "Charlie"]
scores = [85, 92, 78]

# CALL YOUR CODE HERE

*while* loops

1. Implement a guess-the-number loop with hints, counting attempts.

In [ ]:
# CALL YOUR CODE HERE

2. Build a password prompt that allows three tries then exits.

In [ ]:
# CALL YOUR CODE HERE

## Assignment

1.   Create a list of cubes for numbers not divisible by 3. (for loop)

In [41]:
# tips: for x in range(1, 11)

# CALL YOUR CODE HERE

[1, 8, 64, 125, 343, 512, 1000]

2. Simulate a countdown with a pause and final message. (while loop)

In [ ]:
# CALL YOUR CODE HERE

3. Two Sum:

* Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.
* You may assume that each input would have exactly one solution, and you may not use the same element twice.
* You can return the answer in any order.
> https://leetcode.com/problems/two-sum/description/

In [ ]:
# nums = [2,7,11,15,8,1,2,4,5,9,19,20,22,45,0,33,37,42], target = 9

# CALL YOUR CODE HERE